<%= form_tag(search_movies_path, method: :get, remote: true, :id => 'search_form') do %>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-4">
      <div class="input-field">
              <i class="material-icons prefix">search</i>
              <%= text_field_tag :title %>
              <label for="icon_prefix">Search by title</label>
      </div>
    </div>
      <div class="col-xs-2">
     <div class="input-field">
      <select name="movie[genre_id]" id="genres">
        <option value="0" disabled selected>Genre</option>
          <% Movie.define("genre", "movie_list").each do |genre| %>
            <option value="<%= genre.id %>"><%= genre.name %></option>
          <% end %>
      </select>
    </div>
    </div>
    <div class="col-xs-2 button_col">
      <a class="sort_btn waves-effect waves-light btn" value="original_title" id="original_title"><i class="material-icons right"></i>Title</a>
      <%= hidden_field_tag :original_title_sort %>
    </div>
    <div class="col-xs-2 button_col ">
      <a class="sort_btn waves-effect waves-light btn" value="primary_release_date" id="primary_release_date"><i class="material-icons right"></i>Release Date</a>
      <%= hidden_field_tag :primary_release_date_sort %>
    </div>

    <div class="col-xs-1"></div>
  </div>

  <%= hidden_field_tag :page, @page %>
  <%= hidden_field_tag :direction %>
<% end %>
