<div class="row animated fadeIn">
	<% if defined?(@category) %>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-11">
				<p class="category_selection_title"><%= @category.humanize %></p>
			</div>
		</div> 
	<% end %>
 
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
		<% @movies.results.each_slice(2) do |slice| %>
			<div class="row">
				<% slice.each do |movie| %>
					<div class="col-xs-6">
						<div class="movie_block">
							<div class="movie_poster_container">
								<%= movie_poster(movie.poster_path) %>
							</div>
							<div class="movie_info_container">
								<div class="movie_title"><%= movie.title %></div>
								<%= release_date(movie.release_date) %>
								<%= movie_overview(movie.overview, movie.id, movie.title) %>
								<div class="movie_average_rating">
									<input class="readonly_rating_xs" name="readonly_rating_xs" value="<%= Review.rating(movie.id) %>">
								</div>
								<div class="info_and_reviews">
									<%= link_to "Reviews and Info", movie_path(movie_link(movie.id, movie.title)), class: "read_more" %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="col-xs-1"></div>
</div>

<% if @movies.total_results > 20 %>
	<div class="row">
		<div class="col-xs-6">
			<% if @page != 1 %>
				<a class="waves-light btn left_col"><i class="material-icons left">chevron_left</i></a>
			<% end %>
		</div>
		<div class="col-xs-6">
			<% if @page != @movies.total_pages %>
				<a class="waves-light btn right_col"><i class="material-icons left">chevron_right</i></a>
			<% end %>
		</div>
	</div>
<% end %>